<div class="page-header">
  <h3>{{ page.title }}  {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h3>
</div>

<div class="row">
  <div class="span14">
    {{ content }}
  </div>
  <!-- <div class="span4">
	  {% unless site.categories == empty %}
	    <h4>Categories</h4>
	    <ul class="tag_box">
	    {% assign categories_list = site.categories %}
	    {% include JB/categories_list %}
	    </ul>
	  {% endunless %} 
  </div>
  <div class="span4">
	  {% unless site.tags == empty %}
	    <h4>Tags</h4>
	    <ul class="tag_box">
	    {% assign tags_list = site.tags %}
	    {% include JB/tags_list %}
	    </ul>
	  {% endunless %} 
  </div>-->
</div>
